.friendBlock {
  padding-bottom: 4px;
  padding-top: 32px;
  margin: 32px auto;
  width: 400px;
}
.friendList {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: 48px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 300px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  border: 1px solid rgb(228, 234, 243);
  background-color: rgb(242, 242, 242);
  box-shadow: rgba(147, 143, 143, 0.662) 3px 3px 3px;
}

.status {
}

.avatar {
  padding: 12px;
  border-radius: 4px;
  background-color: rgb(251, 251, 251);
}

.name {
  font-size: 26px;
  font-weight: 700;
}
