.transactionTable {
  width: 600px;
  padding-bottom: 4px;
  padding-top: 32px;
  margin: 32px auto;
}

.transactionHistory {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  width: 500px;
  font-size: 14px;
  border-collapse: collapse;
  text-align: center;
}

.cellTitle {
  text-transform: uppercase;
  background: #e27e7e;
  color: rgb(255, 255, 255);
  padding: 12px 20px;
  border: 1px solid white;
}

.cellTable {
  padding: 12px;
  border: 1px solid rgb(255, 255, 255);
  /* background: rgb(237, 210, 210); */
  border-bottom: 1px solid rgb(255, 255, 255);
}

.trClass {
  background: #f5b6b6;
}

.trClass:nth-of-type(even) {
  background: rgb(232, 232, 232);
}